/* ////////////////////////////////////////////////////////////////////////// */
/* Reset values */
* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Containers */
.main {
    background-color: rgba(250, 250, 250, 1);
    display: flex;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 32px auto 0;
    max-width: 935px;
    padding-bottom: 32px;
    width: 100%;
}

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    margin-top: 12px;
    max-width: 350px;
}

.white-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.insta-logo-box {
    margin-top: 36px;
    margin-bottom: 12px;
}

.login-form {
    margin-top: 24px;
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.log-in {
    margin: 8px 40px;
    background-color: rgba(0, 149, 246, .3);
    border: 0;
    padding: 5px 9px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.hr-or {
    border: none;
    border-top: 1px solid rgba(219, 219, 219, 1);
    margin: 18px 40px 18px;
    text-align: center;
}

.hr-or:after {
    top: -13px;
    padding: 0 18px;
    content: "OR";
    position: relative;
    background: white;
    font-size: 13px;
    font-weight: 600;
    color: rgba(142, 142, 142, 1);
}

.login-fb {
    margin: 0 40px 8px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-fb-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    display: inline-block;
    /* top: 8px; */
    background-image: url(/assets/imgs/icon-fb.png);
}

.login-fb-text {
    color: #385185;
    font-size: 14px;
    font-weight: 600;
}

.forgot {
    color: rgba(var(--fe0, 0, 55, 107), 1);
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
    text-align: center;
    cursor: pointer;
}

.signup-text {
    margin: 15px;
    color: rgba(38, 38, 38, 1);
    font-size: 14px;
}

.signup-link {
    font-weight: 600;
    color: rgba(0, 149, 246, 1);
    text-decoration: none;
}

.apps-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.apps-box-text {
    margin: 10px 20px;
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.apps-buttons {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 40px;
}

.app-btn {
    height: 100%;
}

.app-link {
    height: 100%;
    text-decoration: none;
}

.footer {
    padding: 24px 20px 52px 20px;
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lang {
    position: relative;
}

.footer-bottom {
    margin-top: 12px;
}


.consent-screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, .65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.consent-box {
    height: 65%;
    width: 548px;
    background-color: white;
    margin: 20px;
    max-height: calc(100% - 40px);
    color: rgba(38, 38, 38, 1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.consent-round {
    height: 100%;
}

.consent-info {
    overflow: auto;
    max-height: calc(100% - 94px);
}

.consent-lang {
    position: relative;
    margin: 12px 16px;
}

.consent-lang-select,
.consent-lang-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.consent-lang-select {
    position: absolute;
    width: 70px;
    border: none;
    background: none;
    opacity: 0.1%;

}

.consent-content {
    margin: 16px 16px 24px 24px;
    color: rgba(38, 38, 38, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.consent-h2 {
    margin-top: 48px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

.consent-item {
    margin-top: 24px;
    display: flex;
}

.consent-block {
    margin-top: 24px;
}

.consent-item-icon {
    width: 24px;
}

.consent-item-text {
    margin-left: 12px;
}

.consent-inner-p {
    margin-top: 16px;
}

.consent-link {
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 55, 107);
}

.content-h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.consent-h4 {
    margin: 16px 0 12px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.consent-h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.consent-dropdown-btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.consent-dropdown-content {
    margin: 16px 0;
    display: none;
}

.show-content {
    display: block;
}

.consent-list-item {
    display: flex;
    margin: 12px 0;
}

.consent-list-item-text {
    margin-left: 8px;
}

.consent-bottom-btn {
    text-align: center;
    padding: 4px 8px;
    cursor: pointer;
    min-height: 39px;
    border-top: 1px solid rgba(219, 219, 219, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.consent-all {
    color: rgba(var(--d69, 0, 149, 246), 1);
    font-weight: 700;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Nav */
.nav {
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
}

.nav-box {
    max-width: 975px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}

.nav-block {
    min-width: 33%;
    height: 36px;
}

.nav-logo {
    margin-top: 7px;
    cursor: pointer;
}

.nav-logo-img {
    max-height: 29px;
}

.nav-search {
    border-radius: 8px;
    min-width: 125px;
    width: 268px;
    background-color: #EFEFEF;
    padding-left: 16px;
}

.nav-search-input {
    font-size: 16px;
    font-weight: 300;
    background: none;
    border: none;
    outline: none;
    cursor: text;
    margin-top: 7px;
    margin-left: 12px;
}

.nav-search-input::placeholder {
    color: rgba(142, 142, 142, 1);
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
    padding-left: 24px;
    gap: 22px;
}

.nav-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.nav-avatar {
    border-radius: 50%;
    max-height: 24px;
}


/* ////////////////////////////////////////////////////////////////////////// */
/* Home */
.home {
    margin: 0 auto 30px;
    padding: 90px 20px 40px;
    max-width: 935px;
    /* width: calc(100% - 40px); */
}

.pic-box {
    border-radius: 4px;
    border: 1px solid rgba(var(--b38,219,219,219),1);
    max-width: 600px;
    width: 100%;
    background-color: #FFFFFF;
}

.pic-author {
    margin: 12px;
    display: flex;
    gap: 12px;
}
.pic-author-name {
    cursor: pointer;
    padding-top: 3px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}
.pic-author-name:hover {
    text-decoration: underline;
}
.pic {
    width: 100%;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Pics carrousel */
.carrousel {
    align-self: center;
    background-image: url(/assets/imgs/home-phones.png);
    background-position: -46px 0;
    background-size: 468.32px 634.15px;
    flex-basis: 380.32px;
    height: 581.15px;
    margin-bottom: 12px;
    margin-right: 32px;
    align-items: stretch;
    box-sizing: border-box;
    padding: 0;
}

.rolling-pics {
    margin: 27px 0 0 113px;
    position: relative;
}

.screenshot {
    height: 538.84px;
    left: 0;
    position: absolute;
    top: 0;
    width: 250px;
}

.screenshot1 {
    opacity: 0;
    animation: carrousel 18s ease -1.5s infinite;
}

.screenshot2 {
    opacity: 0;
    animation: carrousel 18s ease 3s infinite;
}

.screenshot3 {
    opacity: 0;
    animation: carrousel 18s ease 7.5s infinite;
}

.screenshot4 {
    opacity: 0;
    animation: carrousel 18s ease 12s infinite;
}

@keyframes carrousel {
    from {
        opacity: 0;
    }

    8% {
        opacity: 100%;
    }

    25% {
        opacity: 100%;
    }

    33% {
        opacity: 0%;
    }

    to {
        opacity: 0;
    }
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Details */
.insta-logo {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.input {
    height: 36px;
    margin: 0 40px 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(37, 37, 37);
    font-weight: 300;
    font-size: 16px;
    background: rgba(250, 250, 250, 1);
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 3px;
}

.input::placeholder {
    color: rgba(38, 38, 38, 1);
    font-size: 12px;
    text-overflow: ellipsis;
}

.input:focus {
    border: 1px solid grey;
    outline: none;
}

.footer-text {
    margin: 0 8px 12px;
    color: rgba(142, 142, 142, 1);
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}

.lang-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* visibility: hidden; */
}

.lang-select {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    border: none;
    background: none;
    opacity: 0.1%;
}

.footer-brand {
    margin-left: 56px;
}

.consent-hr {
    border-color: rgb(180, 180, 180);
}

.top-space {
    margin-top: 24px;
}

.top-space2 {
    margin-top: 12px;
}

.bottom-space {
    margin-bottom: 16px;
}

.arrow-down {
    transform: rotate(180deg);
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Responsive */

@media screen and (max-width: 875px) {
    .carrousel {
        display: none;
    }
}